<!-- start custom head snippets -->

<!-- Default Statcounter code for CVPPA 2021 workshop
https://cvppa2021.github.io/ -->
<script type="text/javascript">
var sc_project=12521536; 
var sc_invisible=1; 
var sc_security="bb4e29dd"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="Web Analytics
Made Easy - StatCounter" href="https://statcounter.com/"
target="_blank"><img class="statcounter"
src="https://c.statcounter.com/12521536/0/bb4e29dd/1/"
alt="Web Analytics Made Easy -
StatCounter"></a></div></noscript>
<!-- End of Statcounter Code -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->


<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">


<!-- end custom head snippets -->
